{% extends 'base.html.twig' %}

{% block body %}
    <div class="container sections-wrapper">
        <div class="row">
            {% for article in listArticles %}
                <div class="col-md-6 col-md-offset-3">
                    <section class="about section">
                        <div class="section-inner">
                            <div class="content">
                                <a href={{ path('post', {'id' : article.id} ) }}>
                                    <h2 class="heading">
                                        <p>{{ article.titre }}</p>
                                    </h2>
                                    <h3>
                                        <p>{{ article.chapo }}</p>
                                    </h3>
                                </a>
                                <p class="post-meta">Posté par <a href={{ path('index') }}>Alexis Gressier</a></p>
                                <hr>
                            </div>
                        </div>
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}